@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'CustomMono';
  src: url('./fonts/SFmono/SFMono-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'CustomMono';
  src: url('./fonts/SFmono/SFMono-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'CustomCali';
  src: url('./fonts/Calibre/CalibreRegular.otf') format('opentype');
}


.bgcolor{
  background-color: #b9c740;
}

.colordark{
  background-color: #808000;
}


::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
  @apply hidden;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bbbb14;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #808000;
}


.btn-dark {
  position: relative; /* Make sure the button has relative positioning */
  z-index: 1;
  overflow: hidden; /* Ensure the pseudo-element does not overflow the button */
  transition: color 0.3s ease-in-out;
}

.btn-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  background-color: #818839;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn-dark:hover::before,
.btn-dark:focus::before {
  transform: scaleX(1);
}

.btn-dark:hover,
.btn-dark:focus {
  color: #ffffff;
}


.btn {
  position: relative; /* Make sure the button has relative positioning */
  z-index: 1;
  overflow: hidden; /* Ensure the pseudo-element does not overflow the button */
  transition: color 0.3s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 8px;
  background-color: #7eb13c;
  z-index: -1;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.btn:hover::before,
.btn:focus::before {
  transform: scaleX(1);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
}


.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}